<!--Side bar-->
<div class="h-screen w-20 bg-[#05751b] flex flex-col items-center gap-4 p-1 fixed">
    <a href="/dashboard">
        <div class="logo p-4 text-center hover:scale-95">
            <svg width="40" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M36.0238 13.8468C35.8203 13.6521 35.5495 13.5435 35.2678 13.5435C34.9861 13.5435 34.7153 13.6521 34.5117 13.8468L9.3418 37.8916C9.2349 37.9938 9.14986 38.1167 9.09182 38.2528C9.03377 38.3888 9.00393 38.5353 9.0041 38.6832L9 61.25C9 62.4103 9.46094 63.5231 10.2814 64.3436C11.1019 65.164 12.2147 65.625 13.375 65.625H26.5137C27.0938 65.625 27.6502 65.3945 28.0605 64.9843C28.4707 64.574 28.7012 64.0176 28.7012 63.4375V44.8437C28.7012 44.5536 28.8164 44.2754 29.0215 44.0703C29.2266 43.8652 29.5048 43.75 29.7949 43.75H40.7324C41.0225 43.75 41.3007 43.8652 41.5058 44.0703C41.7109 44.2754 41.8262 44.5536 41.8262 44.8437V63.4375C41.8262 64.0176 42.0566 64.574 42.4669 64.9843C42.8771 65.3945 43.4335 65.625 44.0137 65.625H57.1469C58.3072 65.625 59.42 65.164 60.2405 64.3436C61.0609 63.5231 61.5219 62.4103 61.5219 61.25V38.6832C61.522 38.5353 61.4922 38.3888 61.4342 38.2528C61.3761 38.1167 61.2911 37.9938 61.1842 37.8916L36.0238 13.8468Z"
                    fill="#11FF00" />
                <path
                    d="M66.9292 33.3799L56.7026 23.5963V8.75C56.7026 8.16984 56.4721 7.61344 56.0619 7.2032C55.6516 6.79297 55.0952 6.5625 54.5151 6.5625H47.9526C47.3724 6.5625 46.816 6.79297 46.4058 7.2032C45.9956 7.61344 45.7651 8.16984 45.7651 8.75V13.125L37.8463 5.55352C37.1053 4.8043 36.0034 4.375 34.8126 4.375C33.6258 4.375 32.5266 4.8043 31.7856 5.55488L2.70552 33.3772C1.85513 34.1975 1.74849 35.5469 2.52232 36.4356C2.71664 36.6599 2.95457 36.8423 3.22163 36.9717C3.48869 37.1012 3.7793 37.1749 4.07577 37.1885C4.37224 37.202 4.66836 37.1551 4.94613 37.0506C5.22389 36.9461 5.47748 36.7861 5.69146 36.5805L34.0606 9.47188C34.2641 9.27716 34.535 9.16849 34.8167 9.16849C35.0983 9.16849 35.3692 9.27716 35.5727 9.47188L63.9446 36.5805C64.3625 36.9813 64.9223 37.2 65.5013 37.1887C66.0802 37.1774 66.6311 36.9371 67.0331 36.5203C67.8725 35.6508 67.8028 34.2152 66.9292 33.3799Z"
                    fill="#11FF00" />
            </svg>
            <p class="font-medium text-white" style="font-size: 10px;">SMART GARDEN</p>
        </div>
    </a>
    <div class="flex flex-col w-full gap-4 items-center">
        <a class="w-full" href="/dashboard">
            <div class="flex flex-col p-3 rounded-xl items-center hover:bg-[#2D934A] {{#if isDashboard}}bg-[#2D934A]{{/if}}">
                <svg width="30" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M27.8333 6.25V18.75H44.5V6.25H27.8333ZM27.8333 43.75H44.5V22.9167H27.8333V43.75ZM7 43.75H23.6667V31.25H7V43.75ZM7 27.0833H23.6667V6.25H7V27.0833Z"
                        fill="#11FF00" />
                </svg>
                <p class="text-white mt-1" style="font-size: 10px;">Thông số</p>
            </div>
        </a>

        <a class="w-full" href="/history">
            <div class="flex flex-col p-3 rounded-xl items-center hover:bg-[#2D934A] {{#if isHistory}}bg-[#2D934A]{{/if}}">
                <svg width="30" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M33.3334 4.16663H16.6667C9.77294 4.16663 4.16669 9.77288 4.16669 16.6666V43.75C4.16669 44.3025 4.38618 44.8324 4.77688 45.2231C5.16758 45.6138 5.69749 45.8333 6.25002 45.8333H33.3334C40.2271 45.8333 45.8334 40.227 45.8334 33.3333V16.6666C45.8334 9.77288 40.2271 4.16663 33.3334 4.16663ZM41.6667 33.3333C41.6667 37.9291 37.9292 41.6666 33.3334 41.6666H8.33335V16.6666C8.33335 12.0708 12.0709 8.33329 16.6667 8.33329H33.3334C37.9292 8.33329 41.6667 12.0708 41.6667 16.6666V33.3333Z"
                        fill="#11FF00" />
                    <path
                        d="M14.5833 18.75H35.4166V22.9167H14.5833V18.75ZM14.5833 27.0833H29.1666V31.25H14.5833V27.0833Z"
                        fill="#11FF00" />
                </svg>
                <p class="text-white mt-1" style="font-size: 10px;">Lịch sử</p>
            </div>
        </a>

        <a class="w-full" href="/setting">
            <div class="flex flex-col p-3 rounded-xl items-center hover:bg-[#2D934A] {{#if isSetting}}bg-[#2D934A]{{/if}}">
                <svg width="30" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M29.3312 3.125C29.662 3.12501 29.9843 3.23001 30.2516 3.42488C30.5189 3.61975 30.7175 3.89444 30.8187 4.20938L32.5375 9.55C33.2593 9.90312 33.95 10.3 34.6093 10.7469L40.0968 9.56563C40.4204 9.49655 40.7575 9.53195 41.0596 9.66673C41.3618 9.80151 41.6133 10.0287 41.7781 10.3156L46.1093 17.8125C46.2747 18.0992 46.3448 18.4311 46.3094 18.7602C46.274 19.0893 46.135 19.3987 45.9125 19.6437L42.1468 23.8C42.2017 24.597 42.2017 25.3968 42.1468 26.1938L45.9125 30.3562C46.135 30.6013 46.274 30.9107 46.3094 31.2398C46.3448 31.5689 46.2747 31.9008 46.1093 32.1875L41.7781 39.6875C41.6129 39.9738 41.3611 40.2004 41.059 40.3346C40.7569 40.4688 40.42 40.5037 40.0968 40.4344L34.6093 39.2531C33.9531 39.6969 33.2593 40.0969 32.5406 40.45L30.8187 45.7906C30.7175 46.1056 30.5189 46.3802 30.2516 46.5751C29.9843 46.77 29.662 46.875 29.3312 46.875H20.6687C20.3379 46.875 20.0156 46.77 19.7483 46.5751C19.481 46.3802 19.2824 46.1056 19.1812 45.7906L17.4656 40.4531C16.7457 40.1011 16.0512 39.6991 15.3875 39.25L9.90309 40.4344C9.57955 40.5035 9.24243 40.4681 8.94029 40.3333C8.63815 40.1985 8.38659 39.9713 8.22185 39.6844L3.8906 32.1875C3.72521 31.9008 3.65515 31.5689 3.69053 31.2398C3.72592 30.9107 3.86491 30.6013 4.08747 30.3562L7.8531 26.1938C7.79855 25.3989 7.79855 24.6011 7.8531 23.8062L4.08747 19.6437C3.86491 19.3987 3.72592 19.0893 3.69053 18.7602C3.65515 18.4311 3.72521 18.0992 3.8906 17.8125L8.22185 10.3125C8.38704 10.0262 8.6388 9.79961 8.9409 9.6654C9.243 9.5312 9.57988 9.49626 9.90309 9.56563L15.3875 10.75C16.05 10.3031 16.7437 9.9 17.4656 9.54688L19.1843 4.20938C19.2852 3.89545 19.4829 3.6215 19.7489 3.42672C20.015 3.23194 20.3359 3.12633 20.6656 3.125H29.3281H29.3312ZM28.1875 6.25H21.8125L20.0375 11.7719L18.8406 12.3562C18.2522 12.6442 17.6842 12.972 17.1406 13.3375L16.0343 14.0875L10.3593 12.8625L7.17185 18.3875L11.0625 22.6938L10.9687 24.0187C10.9238 24.6721 10.9238 25.3279 10.9687 25.9813L11.0625 27.3062L7.1656 31.6125L10.3562 37.1375L16.0312 35.9156L17.1375 36.6625C17.6811 37.028 18.2491 37.3558 18.8375 37.6437L20.0343 38.2281L21.8125 43.75H28.1937L29.975 38.225L31.1687 37.6437C31.7565 37.3565 32.3235 37.0286 32.8656 36.6625L33.9687 35.9156L39.6468 37.1375L42.8343 31.6125L38.9406 27.3062L39.0343 25.9813C39.0794 25.3268 39.0794 24.6701 39.0343 24.0156L38.9406 22.6906L42.8375 18.3875L39.6468 12.8625L33.9687 14.0813L32.8656 13.3375C32.3235 12.9713 31.7565 12.6434 31.1687 12.3562L29.975 11.775L28.1906 6.25H28.1875ZM25 15.625C27.4864 15.625 29.8709 16.6127 31.6291 18.3709C33.3872 20.129 34.375 22.5136 34.375 25C34.375 27.4864 33.3872 29.871 31.6291 31.6291C29.8709 33.3873 27.4864 34.375 25 34.375C22.5136 34.375 20.129 33.3873 18.3708 31.6291C16.6127 29.871 15.625 27.4864 15.625 25C15.625 22.5136 16.6127 20.129 18.3708 18.3709C20.129 16.6127 22.5136 15.625 25 15.625ZM25 18.75C23.3424 18.75 21.7526 19.4085 20.5805 20.5806C19.4084 21.7527 18.75 23.3424 18.75 25C18.75 26.6576 19.4084 28.2473 20.5805 29.4194C21.7526 30.5915 23.3424 31.25 25 31.25C26.6576 31.25 28.2473 30.5915 29.4194 29.4194C30.5915 28.2473 31.25 26.6576 31.25 25C31.25 23.3424 30.5915 21.7527 29.4194 20.5806C28.2473 19.4085 26.6576 18.75 25 18.75Z"
                        fill="#11FF00" />
                </svg>
                <p class="text-white mt-1" style="font-size: 10px;">Thiết lập</p>
            </div>
        </a>

        <a class="w-full" href="/chatbot">
            <div class="flex flex-col p-3 rounded-xl items-center hover:bg-[#2D934A] {{#if isChatbot}}bg-[#2D934A]{{/if}}">
                <svg width="30" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_127_302)">
                        <path
                            d="M25 0C11.2057 0 0 11.2058 0 25C0 38.7942 11.2057 50 25 50C38.7943 50 50 38.7942 50 25C50 11.2058 38.7943 0 25 0ZM25 2.17391C37.6194 2.17391 47.8261 12.3806 47.8261 25C47.8261 37.6194 37.6194 47.8261 25 47.8261C12.3806 47.8261 2.17391 37.6194 2.17391 25C2.17391 12.3806 12.3806 2.17391 25 2.17391ZM34.8781 13.0817C34.1347 13.0817 33.2993 13.2539 32.3221 13.6061C30.8047 14.1528 12.9573 21.7306 10.9269 22.5926C9.76602 23.086 7.60446 24.004 7.60446 26.1931C7.60446 27.6442 8.45475 28.6821 10.1287 29.2799C11.0287 29.6005 13.1662 30.2485 14.4064 30.5898C14.9325 30.7343 15.4916 30.8084 16.0666 30.8084C17.1916 30.8084 18.3237 30.5281 19.2107 30.0335C19.2031 30.2162 19.2081 30.4007 19.2298 30.5855C19.3635 31.7268 20.0673 32.8003 21.1108 33.4579C21.7934 33.8883 27.3688 37.6241 28.2014 38.2176C29.371 39.0534 30.6639 39.4956 31.9379 39.4956C34.3726 39.4956 35.1895 36.9816 35.583 35.774C36.1536 34.0208 38.2905 19.7632 38.5318 17.2491C38.6959 15.5262 37.9779 14.1076 36.6105 13.4532C36.0985 13.2065 35.514 13.0817 34.8781 13.0817ZM34.8781 15.2556C35.1771 15.2556 35.4439 15.305 35.67 15.4148C36.1841 15.6616 36.4457 16.2116 36.3663 17.0431C36.1033 19.7855 33.9717 33.7054 33.5173 35.1011C33.1282 36.2945 32.7183 37.3217 31.9378 37.3217C31.1574 37.3217 30.3048 37.0481 29.4646 36.447C28.6244 35.847 23.0449 32.1053 22.2699 31.6173C21.5905 31.189 20.8715 30.1214 21.8835 29.0888C22.7172 28.2388 29.0411 22.101 29.5814 21.5608C29.9835 21.1575 29.7955 20.6713 29.4009 20.6713C29.265 20.6713 29.1023 20.7286 28.9338 20.8666C28.273 21.4068 19.0595 27.572 18.2617 28.0677C17.7335 28.3959 16.9155 28.6324 16.0666 28.6324C15.7046 28.6324 15.3382 28.589 14.986 28.4923C13.7599 28.1542 11.685 27.5247 10.8611 27.2312C10.0687 26.9486 9.78049 26.6779 9.78049 26.1931C9.78049 25.504 10.7532 25.0282 11.7782 24.5924C12.8608 24.1326 31.5935 16.1776 33.0588 15.6505C33.737 15.4048 34.3575 15.2556 34.8781 15.2556Z"
                            fill="#11FF00" />
                    </g>
                    <defs>
                        <clipPath id="clip0_127_302">
                            <rect width="50" height="50" fill="white" />
                        </clipPath>
                    </defs>
                </svg>
                <p class="text-white mt-1" style="font-size: 10px;">Chatbot</p>
            </div>
        </a>
    </div>
</div>
