<!--User Info-->
<div class="absolute top-4 right-4 flex gap-2 items-center">
    <img class="rounded-full w-10" src="/images/avatar.jpg" alt="Avatar">
    <p class="font-medium">{{username}}</p>
    <a href="/logout"><i class="fa-solid fa-circle-xmark fa-xl hover:scale-110" style="color: #ff0000;"></i></a>
</div>