{{> sidebar}}
{{> user}}
<!--Main container-->
<div id="messages" class="ml-20"></div>
<div class="main flex flex-col gap-4 ml-24 mr-4 pt-20">
    <div class="data-boxes flex justify-between">
        <div
            class="temp data-box p-4 bg-[#F1FFF5] rounded-3xl flex flex-col gap-2 justify-center items-center w-1/5 h-40">
            <p class="text-xl">Nhiệt độ</p>
            <p id="temperature" class="font-bold text-4xl text-center"></p>
        </div>
        <div
            class="humid data-box p-4 bg-[#F1FFF5] rounded-3xl flex flex-col gap-2 justify-center items-center w-1/5 h-40">
            <p class="text-xl">Độ ẩm</p>
            <p id="humidity" class="font-bold text-4xl text-center"></p>
        </div>
        <div
            class="brightness data-box p-4 bg-[#F1FFF5] rounded-3xl flex flex-col gap-2 justify-center items-center w-1/5 h-40">
            <p class="text-xl">Ánh sáng</p>
            <p id="brightness" class="font-bold text-4xl text-center"></p>
        </div>
        <div
            class="water-level data-box p-4 bg-[#F1FFF5] rounded-3xl flex flex-col gap-2 justify-center items-center w-1/5 h-40">
            <p class="text-xl">Mực nước</p>
            <p id="waterLevel" class="font-bold text-4xl text-center"></p>
        </div>
    </div>

    <div class="charts grid grid-cols-2 gap-4">
        <div class="flex flex-col bg-[#F1FFF5] rounded-xl p-2">
            <div>
                <i class="fa-solid fa-chart-line px-1" style="color: #63E6BE;"></i>
                <span class="font-bold">Nhiệt độ tuần này</span>
            </div>
            <canvas class="" id="tempChart"></canvas>
        </div>
        <div class="flex flex-col bg-[#F1FFF5] rounded-xl p-2">
            <div>
                <i class="fa-solid fa-chart-line px-1" style="color: #63E6BE;"></i>
                <span class="font-bold">Độ ẩm tuần này</span>
            </div>
            <canvas class="" id="humidChart"></canvas>
        </div>
        <div class="flex flex-col bg-[#F1FFF5] rounded-xl p-2">
            <div>
                <i class="fa-solid fa-chart-line px-1" style="color: #63E6BE;"></i>
                <span class="font-bold">Ánh sáng tuần này</span>
            </div>
            <canvas class="" id="lightChart"></canvas>
        </div>
        <div class="flex flex-col bg-[#F1FFF5] rounded-xl p-2">
            <div>
                <i class="fa-solid fa-chart-line px-1" style="color: #63E6BE;"></i>
                <span class="font-bold">Mực nước tuần này</span>
            </div>
            <canvas class="" id="waterChart"></canvas>
        </div>
    </div>
</div>

<script>
    const tempCtx = document.getElementById('tempChart').getContext('2d');
    const tempChart = new Chart(tempCtx, {
        type: 'line', // Loại biểu đồ
        data: {
            labels: ['Thứ 2', 'Thứ 3', 'Thứ 4', 'Thứ 5', 'Thứ 6', 'Thứ 7', 'Chủ nhật'], // Nhãn trục X
            datasets: [{
                data: [20, 25, 60, 80, 40, 50, 30], // Dữ liệu nhiệt độ
                borderColor: '#1F78B4', // Màu đường
                borderWidth: 2, // Độ dày đường
                tension: 0.4 // Độ cong của đường
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    display: false
                }
            },
            scales: {
                x: {
                    beginAtZero: true
                },
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    const humidCtx = document.getElementById('humidChart').getContext('2d');
    const humidChart = new Chart(humidCtx, {
        type: 'line', // Loại biểu đồ
        data: {
            labels: ['Thứ 2', 'Thứ 3', 'Thứ 4', 'Thứ 5', 'Thứ 6', 'Thứ 7', 'Chủ nhật'], // Nhãn trục X
            datasets: [{
                data: [20, 25, 60, 80, 40, 50, 30], // Dữ liệu nhiệt độ
                borderColor: '#1F78B4', // Màu đường
                borderWidth: 2, // Độ dày đường
                tension: 0.4 // Độ cong của đường
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    display: false
                }
            },
            scales: {
                x: {
                    beginAtZero: true
                },
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    const lightCtx = document.getElementById('lightChart').getContext('2d');
    const lightChart = new Chart(lightCtx, {
        type: 'line', // Loại biểu đồ
        data: {
            labels: ['Thứ 2', 'Thứ 3', 'Thứ 4', 'Thứ 5', 'Thứ 6', 'Thứ 7', 'Chủ nhật'], // Nhãn trục X
            datasets: [{
                data: [20, 25, 60, 80, 40, 50, 30], // Dữ liệu nhiệt độ
                borderColor: '#1F78B4', // Màu đường
                borderWidth: 2, // Độ dày đường
                tension: 0.4 // Độ cong của đường
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    display: false
                }
            },
            scales: {
                x: {
                    beginAtZero: true
                },
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    const waterCtx = document.getElementById('waterChart').getContext('2d');
    const waterChart = new Chart(waterCtx, {
        type: 'line', // Loại biểu đồ
        data: {
            labels: ['Thứ 2', 'Thứ 3', 'Thứ 4', 'Thứ 5', 'Thứ 6', 'Thứ 7', 'Chủ nhật'], // Nhãn trục X
            datasets: [{
                data: [20, 25, 60, 80, 40, 50, 30], // Dữ liệu nhiệt độ
                borderColor: '#1F78B4', // Màu đường
                borderWidth: 2, // Độ dày đường
                tension: 0.4 // Độ cong của đường
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    display: false
                }
            },
            scales: {
                x: {
                    beginAtZero: true
                },
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    // Kết nối đến HiveMQ WebSocket broker
    const client = mqtt.connect('wss://66e7cd73955d41119db073a43925b11b.s1.eu.hivemq.cloud:8884/mqtt', {
        username: 'smart-garden-web',
        password: 'Username2',
        clientId: 'smart-garden-web-client',
    });

    // Khi kết nối thành công
    client.on('connect', () => {
        console.log('Connected to HiveMQ');
        client.subscribe('smart-garden/#', (err) => {
            if (err) {
                console.error('Failed to subscribe:', err);
            } else {
                console.log('Subscribed to topic: smart-garden/#');
            }
        });
    });

    // Khi nhận được tin nhắn từ broker
    client.on('message', (topic, message) => {
        console.log("Received message on topic:", topic);
        if (topic === 'smart-garden/data') {
            const data = JSON.parse(message.toString()); // Chuyển đổi message sang JSON
            console.log("Received data:", data); // Xem giá trị nhận được

            if (data.temperature !== undefined) {
                document.getElementById('temperature').innerText = data.temperature + " °C"; // Hiển thị nhiệt độ
            }
            if (data.humidity !== undefined) {
                document.getElementById('humidity').innerText = data.humidity + " %"; // Hiển thị độ ẩm
            }
            if (data.brightness !== undefined) {
                document.getElementById('brightness').innerText = data.brightness + " lux"; // Hiển thị ánh sáng
            }
            if (data.waterLevel !== undefined) {
                document.getElementById('waterLevel').innerText = data.waterLevel + " m"; // Hiển thị mực nước
            }

            // Kiểm tra thông số nào vượt ngưỡng so với các ngưỡng trong localStorage
            const savedData = localStorage.getItem('smart-garden-settings');
            if (savedData) {
                const settings = JSON.parse(savedData);
                if (data.temperature >= settings.maxTemp || data.temperature <= settings.minTemp) {
                    document.querySelector('.temp').classList.remove('bg-[#F1FFF5]');
                    document.querySelector('.temp').classList.add('bg-[#FFEBEB]');
                    updateSensorData();
                }
                else {
                    document.querySelector('.temp').classList.remove('bg-[#FFEBEB]');
                    document.querySelector('.temp').classList.add('bg-[#F1FFF5]');
                }
                if (data.humidity >= settings.maxHumid || data.humidity <= settings.minHumid) {
                    document.querySelector('.humid').classList.remove('bg-[#F1FFF5]');
                    document.querySelector('.humid').classList.add('bg-[#FFEBEB]');
                    updateSensorData();
                }
                else {
                    document.querySelector('.humid').classList.remove('bg-[#FFEBEB]');
                    document.querySelector('.humid').classList.add('bg-[#F1FFF5]');
                }
                if (data.brightness >= settings.maxLux || data.brightness <= settings.minLux) {
                    document.querySelector('.brightness').classList.remove('bg-[#F1FFF5]');
                    document.querySelector('.brightness').classList.add('bg-[#FFEBEB]');
                    updateSensorData();
                }
                else {
                    document.querySelector('.brightness').classList.remove('bg-[#FFEBEB]');
                    document.querySelector('.brightness').classList.add('bg-[#F1FFF5]');
                }
                if (data.waterLevel <= settings.minHeight * settings.tankHeight / 100) {
                    document.querySelector('.water-level').classList.remove('bg-[#F1FFF5]');
                    document.querySelector('.water-level').classList.add('bg-[#FFEBEB]');
                    updateSensorData();
                }
                else {
                    document.querySelector('.water-level').classList.remove('bg-[#FFEBEB]');
                    document.querySelector('.water-level').classList.add('bg-[#F1FFF5]');
                }
            }
        }
    });

    // Khi xảy ra lỗi
    client.on('error', (error) => {
        console.error('MQTT Error:', error);
    });

    async function updateSensorData() {
        let temperature = document.getElementById('temperature').innerText.replace('°C', '');
        let humidity = document.getElementById('humidity').innerText.replace('%', '');
        let brightness = document.getElementById('brightness').innerText.replace('lux', '');
        let waterLevel = document.getElementById('waterLevel').innerText.replace('m', '');
        console.log("Updating sensors...");
        await fetch('/update-sensors', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ temperature: temperature, humidity: humidity, brightness: brightness, waterLevel: waterLevel })
        })
            .then(response => response.json())
            .then(data => {
                console.log(data);
            });
    }

    setInterval(() => {
        updateSensorData();
    }, 30000);
</script>