<body class="flex flex-col justify-center items-center h-screen" 
style="background-image: url('https://cdn.dribbble.com/users/989466/screenshots/3252549/media/a2e4fae7fe10f02f396f75af82600bd9.png'); 
background-size: cover; background-position: center;">
    <div class="w-full flex flex-col justify-center items-center">
        <h1 class="font-bold text-3xl text-[#001c27] p-4">Đăng ký</h1>

        <form class="flex flex-col w-1/4 min-w-[300px] gap-4 bg-[#d9f5a4] bg-opacity-90 p-4 rounded-2xl relative" method="POST" action="/signup">
            <input type="email" class="form-control rounded-2xl p-3 outline-none bg-[#f5f5f5]" name="email"
                placeholder="Email" required>

            <input type="text" class="form-control rounded-2xl p-3 outline-none bg-[#f5f5f5]" name="username"
                placeholder="Tài khoản" required>

            <input type="password" class="form-control rounded-2xl p-3 outline-none bg-[#f5f5f5]" name="password"
                placeholder="Mật khẩu" required>

            <button id="signup-button" type="submit"
                class="bg-[#033a35] text-white text-opacity-40 font-medium rounded-2xl p-4 w-full">
                Đăng ký
            </button>

            <p class="text-center font-medium">Đã có tài khoản? <a class="hover:underline" href="/login">Đăng nhập tại đây</a></p>
        </form>
    </div>

    <script>
        document.querySelectorAll('.form-control').forEach(input => {
            input.addEventListener('focus', () => {
                input.classList.add('border', 'border-black');
            });
            input.addEventListener('blur', () => {
                input.classList.remove('border', 'border-black');
            });
        });

        document.querySelectorAll('.form-control').forEach(input => {
            input.addEventListener('input', () => {
                const allFilled = Array.from(document.querySelectorAll('.form-control')).every(input => input.value);
                if (allFilled) {
                    document.getElementById('login-button').classList.remove('text-opacity-40');
                } else {
                    document.getElementById('login-button').classList.add('text-opacity-40');
                }
            });
        });
    </script>
</body>
